<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>
        {{block title}}

        {{endblock}}
    </title>
</head>
<body>
    <Nav>
        <div class="navbar-links">
            <img src="logo" alt="Hamburger">
            <div class="Logo">
                <a href="http://www.google.com"><img src="#" alt="Online store logo"></a>
            </div>
            <ul class="navlinks">
                <li><a href="http://#"><img src="../static/cart-icon-28344.png" alt="cart-pic"></a></li>
                <li><a href="http://#"><img src="../static/search-icon-png-9973.png" alt="search-pic"></a></li>
            </ul>
        </div>
    </Nav>
</body>
</html>