html, body{
    margin: 0px;
    padding: 0px;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


nav{
    z-index: 100;
    margin: 0; 
    padding: 0;
    display: flex;
    align-items: center;
    height: 15%;
    width: 100vw;
    position:fixed;
    top:0%;
    left:0%;
    background-color: rgb(6, 91, 102);
}

.topsection{
    position: static;
    background-size: contain;
    background-color: rgb(6, 91, 102);
    height: 90vh;
    width: 100vw;
    padding: 0px;
}


.logo-container{
    padding-bottom: 2%;
    height: 90%;
    width: 10%;
    margin-right: 5%;
    margin-left:3%;
    display: inline-block;
    justify-content: baseline;
}

.Navbar-logo{
    height: 100%;
    width :100%;
    margin: 10%;
    box-sizing: content-box;
}

.Navlink-container{
    width: 100%;
    box-sizing: border-box;
}

.Navlink-container input{
   display:none
}

.Navlinks{
    display: flex;
    color: antiquewhite;
    width: 100%;
    list-style: none; 
    padding: 0;
    margin: 0; 
    align-items: flex-end;
}

.Navlinks li{
    margin:0% 5%;
    display: inline-flex;

}

.Navlinks a{
    color: inherit;
    display: block;
   font-size: 100%;
   text-decoration:none;
   padding: 50px;
   width: max-content;
   height: 30px;
   box-sizing: content-box;
}

.Navlinks a:hover{
    color: black;
    font-size: 20px;
}

.Overlay-container{
    box-sizing: content-box;
    width: 20%;
    height: 16%;
    display: grid;
}
.Overlay-container img{
    width: 100%;
    height: 100%;
}

.image1{
    border-radius: 10%;
    box-shadow: -5px -4px 15px rgba(0, 0, 0, 0.7);
    position: relative;
    top: 110%;
    left:300%;
}

.image2{
    border-radius: 10%;
    position: relative;
    top: 100%;
    left:350%;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.image3{
    border-radius: 10%;
    box-shadow:5px 4px 15px rgba(0, 0, 0, 0.7);
    position: relative;
    top: 70%;
    left:300%;
}

.toptext{
width: 50%;
align-content: flex-start;
justify-content: center;
color: inherit;
position: absolute;
top: 30%;
left: 9%;
}

.toptext h1{
    font-size: 400%;
    width: 100%;
    margin-bottom: 20px;
}

.toptext h6{
    font-size: 110%;
    margin: 0;
}

.school-motto{
    height: 30px;
    width: 100%;
    border-width: 2px 4px 6px 8px;
    border-color: black;
    padding: 5px;
    margin-bottom: 40px;
}

.school-location{
    display: flex;
    position: relative;
    right: 5%;
}
.school-location img{
    margin-right: 10px;
}


.space{
    width: 100vw;
    border:2px solid black !important ;
    border-right: 0 !important;
    border-left: 0 !important;
    background-color: antiquewhite;
}

.bottomsection{
    padding-top: 8%;
    display: flex;
    height: 80vh;
    width: 100vw;
    color: #000;
    background-color: antiquewhite;
    position: static;
}

.contact{
    width:36%;
    justify-self: left !important;
    position: static;
    margin: 2% 8%;
}

.contact div h3 a{
    color: rgb(6, 91, 102) ;
    text-decoration:underline solid !important;
}

.contact h3{
    margin-bottom:5px;
}
.email h3{
    margin-bottom: 5px;
    margin-top:5px;
}
.contact-us{
    text-decoration:underline
}

form{
    height:30%;
    width:80%
}

.message-box{
    height:100%;
    width:100%
}
.contact img{
    width: 20px;
    height: 20px;
}

.right-section{
    width: 50%;
    height: 100%;
}

.Logo{
    position: relative;
    left: 19%;
    top: 8%;
    height: 60%;
    width: 50%;
}

.socials{
    margin: 0;
    width: 50%;
    display: flex;
    position: relative;
    left: 21%;
    top: 5%;
}

.socials a{
    box-sizing: content-box;
   margin: 7%;
   margin-top: 9%;
   align-content:baseline;
}

.socials img{
    width: 40px;
    height: 40px;
}

.socials img:hover{
    width: 50px;
    height: 50px;
    color: rgb(6, 91, 102);
}




@media screen and (min-width: 278px) and (max-width: 479px) {
    nav{
        width: 100vw;
        height: 13%;
        position: fixed;
        z-index: 100;
    }

    .Navlink-container input{
        position: relative;
        display: inline-block;
        font-size:larger;
        left:80%
    }
    .Navlinks{
      display: none;
      position: absolute;
      background-color: antiquewhite;
      color:black;
      max-width: 80px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
}

    .Navlink-container input:checked .Navlinks{
                                    display:inline-grid;
                                    align-content:center;
                                }
 
    
    .Navlinks li{
    margin:0% 0%;
    margin-left: 3%;    }
    
    .Navlinks a{
   font-size: 70%;
   padding: 20px;
    }

    .topsection{
    height: 55vh;
}

    
    .Navbar-logo{
    margin:0;
    height: 100%;
    width :190%;
    box-sizing: content-box;
        padding:20%
    }

    .toptext{
    width: 50%;
    top: 18%;
    left: 9%;
    }


    .toptext h1{
    font-size: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.toptext h6{
    font-size: 50%;
    margin: 0;
}

.school-motto{
    height: 10px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

    .school-location{
    display: flex;
    position: relative;
    right: 3%;
}
.school-location img{
    margin-right: 5px;
    height:15px
}

    .Overlay-container{
    box-sizing: content-box;
    width: 21.5%;
    height: 17%;
    display: grid;
}
.Overlay-container img{
    width: 100%;
    height: 100%;
}

.image1{
    top: 350%;
    left:300%;
}

.image2{
    top: 330%;
    left:300%;
}

.image3{
    top: 270%;
    left:300%;
}


    .bottomsection{
    padding-top: 3%;
    height: 50vh;
    width: 100vw;
}
    
    .contact{
        height:90%;
        width:36%;
        margin: 0% 8%;
        font-size: small
    }
    
     .contact h3{
        margin-bottom:4px;
        font-size:small;
    }
    
    .contact div h3 a, .contact h3, .email h3, .contact-us{
        font-size: xx-small;
    }
    .contact-us{
        width:50%;
    }

   
        
    form{
        height:12%;
        width:70%
    }
    
    .message-box{
        height:100%;
        width:100%
    }
    .contact img{
        width: 20px;
        height: 15px;
    }
    
    .right-section{
        width: 90%;
        height: 90%;
    }

    .Logo{
        display:none;
        left: 12%;
        top: 8%;
        height: 60%;
        width: 70%;
    }
    
    .socials{
        display: grid;
        left: 30%;
        top: 10%;
    }
    .socials img{
        margin-top: 5%;
        padding-top:5%;
        width: 30px;
        height: 30px;
    }
    
}



@media screen and (min-width: 480px) and (max-width:767px) {
    nav{
        width: 100vw;
        height: 14%;
        position: fixed;
        z-index: 100;
    }
 
    .Navlinks li{
    margin:0% 0%;
    margin-left: 3%;    }
    
    .Navlinks a{
   font-size: 70%;
   padding: 20px;
    }

    .topsection{
    height: 70vh;
}

    
    .Navbar-logo{
    margin:0;
    height: 70%;
    width :100%;
    box-sizing: content-box;
    }

    .toptext{
    width: 45%;
    top: 18%;
    left: 9%;
    }


    .toptext h1{
    font-size: 200%;
    width: 100%;
    margin-bottom: 10px;
}

.toptext h6{
    font-size: 70%;
    margin: 0;
}

.school-motto{
    height: 10px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

    .school-location{
    display: flex;
    position: relative;
    right: 3%;
}
.school-location img{
    margin-right: 5px;
    height:25px
}

    .Overlay-container{
    box-sizing: content-box;
    width: 21.5%;
    height: 17%;
    display: grid;
}
.Overlay-container img{
    width: 100%;
    height: 100%;
}

.image1{
    top: 250%;
    left:300%;
}

.image2{
    top: 230%;
    left:350%;
}

.image3{
    top: 170%;
    left:300%;
}


    .bottomsection{
    padding-top: 4%;
    height: 70vh;
    width: 100vw;
}
    
    .contact{
        width:36%;
        margin: 0% 8%;
        font-size: small
    }
    
    .contact div h3 a, .contact h3, .email h3, .contact-us{
        font-size: small;
    }
    .contact-us{
        width:70%;
    }

    .contact h3{
        margin-bottom:4px;
    }
        
    form{
        height:20%;
        width:60%
    }
    
    .message-box{
        height:100%;
        width:100%
    }
    .contact img{
        width: 20px;
        height: 15px;
    }
    
    .right-section{
        width: 50%;
        height: 90%;
    }

    .Logo{
        left: 12%;
        top: 8%;
        height: 60%;
        width: 70%;
    }
    
    .socials{
        left: 10%;
        top: 5%;
    }
    .socials img{
        width: 30px;
        height: 30px;
    }
    
}





@media screen and (min-width: 768px) and (max-width:1190px) {
    nav{
        height: 14%;
        }
 
    .Navlinks li{
    margin:0% 0%;
    margin-left: 9%;    
    }
    
    .Navlinks a{
   font-size: 80%;
   padding: 20px;
    }

    .topsection{
    height: 80vh;
}
.toptext{
    top: 20%;
    font-size:300;
}

    .toptext h1{
    font-size: 300%;
    width: 100%;
    margin-bottom: 10px;
}

.toptext h6{
    font-size: 90%;
    margin-bottom: 20px;
}

.school-motto{
    height: 10px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

    
    .Navbar-logo{
    margin:0;
    height: 80%;
    width :80%;
    box-sizing: content-box;
        margin-top:5%;
    }


    .Overlay-container{
    box-sizing: content-box;
    width: 21.5%;
    height: 17%;
    display: grid;
}
.Overlay-container img{
    width: 100%;
    height: 100%;
}

.image1{
    top: 200%;
    left:300%;
}

.image2{
    top: 170%;
    left:350%;
}

.image3{
    top: 120%;
    left:300%;
}
    .bottomsection{
    padding-top: 2%;
    height: 100vh;
    width: 100vw;
}

    .contact h3{
        margin-bottom:4px;
        font-size:large;
    }

    form{
        height:40%;   
    }
    
    
    .Logo{
        left: 12%;
        top: 10%;
        height: 60%;
        width: 80%;
    }
    
    .socials{
        left: 19%;
        top: 9%;
    }
    .socials img{
        width: 40px;
        height: 40px;
    }
}