<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../Static/style.css">
</head>
<body>
    <nav id="Navbar">
        <div class="logo-container"><img class="Navbar-logo" src="../Static/logonowords.png" alt=""></div>
        <br>
        <div class="Navlink-container">
            <input type="checkbox"></input>
            <ul class="Navlinks">
                <li><a href="#">Student portal</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Courses</a></li>
            </ul>
        </div>
    </nav>
    <section class="topsection">
        <div class="Overlay-container">
            <img class="image1" src="../Static/Image3.jpeg" alt="">
            <img class="image2" src="../Static/image4.jpg" alt="">
            <img class="image3" src="../Static/Blueuniform.jpg" alt="">
        </div>
        <div class="toptext">
            <div class="school-name">
                <h1>The African Church Model College</h1>
            </div>
            <div class="school-motto">
                <h6>Heavens' Light Our Guide</h6>
            </div>
            <div class="school-location">
                <img src="../Static/location.png" height="30px" width="30px" alt="">
                <h6>Elder Coker Road, College Bus Stop, Ifako-Ijaiye, Lagos.</h6>
            </div>
        </div>
    </section>
    <section class="space">
    </section>
    <section class="bottomsection">
        
        <div class="contact">
            <div>
                <h3>Calling for parent Volunteers!! <a href="#">Sign up!</a></h3>
            </div>
            <br>
            <Div class="contact-us">
                <h2>Contact Us</h2>
            </Div>
            <h3>Make a suggestion</h3>
            <form action="">
                <textarea class="message-box" type="text" placeholder="Type your message"></textarea>
            </form>
            <br>
            <div class="email">
                <h3>Email</h3>
                <h3>tacmc@gmail.edu.ng</h3>
            </div>
            <h3><img src="../Static/phone-receiver-silhouette.png" alt="phonenumber"> 07036978235, 09086547324</h3>
        </div>
        <div class="right-section" >
            <img class="Logo" src="../Static/logonowords.png" alt="School logo">
            <div class="socials">
                <a href="#"><img src="../Static/linkedin.png" alt=""></a>
                <a href="#"><img src="../Static/youtube.png" alt=""></a>
                <a href="#"><img src="../Static/instagram.png" alt=""></a>
                <a href="#"><img src="../Static/twitter.png" alt=""></a>
            </div>

        </div>
        
    </section>
</body>
</html>