<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replica page</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <img class="logo" src="logo.png" alt="Image of the logo">
        </div>
        <ul class="navlinks">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Workout Program</a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Store</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
        </ul>
    </nav>
    <div class="overlay-section">
        <img src="pushup woman.jpg" alt="background-image">
        <section class = "section1">
            <h1>Get more out of your 
            <br><span>Fitness Journey</span></h1>
                <p>Join the community to track your progress</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium...</p>
            <div class="create-acc-class">
                <button class="create-account-button">Create Account</button>
            </div>
        </section>
        <div class = "image-row">
            <img src="newbadge.png" alt="image 1">
            <img src="newbadge.png" alt="image 2">
            <img src="newbadge.png" alt="image 3">
        </div>
    </div>
    <div class="contact-us">
        <span><h3>///Contact us</h3></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <section class = "section2">
        <div class="text-div">
            <form method="POST">
                <input type="text" placeholder="Enter your name">
                <input type="text" placeholder="xyz@gmail.com">
                <textarea class="message-box" type="text" placeholder="Type your message"></textarea>
            </form>
        </div>
        
        <div class = image-div>
            <img src="lifting-woman.jpeg" alt="woman lifting weights">
        </div>
    </section>  
    <div class="logo2">
        <img src="logo.png" alt="logo-2">
    </div>
    <div class="bottom-text">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</body>
</html>